.breadcrumb{
  overflow: hidden;
  margin-bottom: 4px;
  padding: 8px 15px 8px 0;
  list-style: none;
  white-space: nowrap;
  border-radius: 0;
  font-size: 11px;
  background-color: transparent!important;
  >li{
    display: inline-block;

  }
  a{
    color: #444;
  }

  >li+li:before {
    padding: 0 5px;
    content: '/\00a0';
    color: #ccc;
  }

}
