%connectionShadow{
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.connections{
  position:relative;
  z-index:5;
  min-height:400px;
  margin-top:-1em;

  .connections-connection{

    width:100%;
    background-color:white;
    @extend %connectionShadow;
    margin-bottom:1em;

    display:flex;
    flex-direction: column;
    padding:18px 14px 14px 14px;
    .connection-header{

      display:flex;
      flex-direction: row;
      margin-bottom:.4em;
      i{
        color:$blue;
        font-size:20px;
        flex: 0 0 24px;
        align-self: center;
      }
      span{
        font-size:.9em;
        letter-spacing:1px;
        font-weight:500;
        align-self: center;
        padding-left:8px;
      }
    }


    .connection-wrapper{
      display:flex;
      flex-direction: row;
      .connection-left{
        flex: 1 1;
        display:flex;
        flex-direction:column;





          padding-top:8px;
          font-size:14px;
          .connection-left-line{

            &.connection-left-line_light{
              color:$gray-500;
            }
          }
      }



      .connection-right{
        flex: 0 0 100px;
        align-self: center;
        justify-content: center;
        .connection-fare{
          >div{
            color: $blue;
            font-size: 2em;
            white-space: nowrap;

            sub{
              position: relative;
              font-size: .5em;
              color:$gray-500;
            }
            span{
              font-size: .77rem;
              position: relative;
              top: -1.6em;
              display: inline;
              font-weight: normal;
              color:$gray-500;
              letter-spacing: .4px;
            }
          }
        }
      }


    }




  }
}
