.glasd{
  position: relative;
  margin-top: -125px!important;

  margin-bottom: 60px!important;
  padding: 5px;

  ins{
    box-sizing: content-box;
    outline: 8px solid white;

    box-shadow: 6px 7px 7px rgba(0, 0, 0, 0.25);
  }
}
